<div class="container">
    <div class="card bg-light">
        <h4 class="card-title text-center mt-5">Consulta de Saldo</h4>
        <hr class="mx-5">
        <article class="card-body mb-5" style="margin-left: 25%; margin-right: 25%;">
            <form>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-hashtag"></i> </span>
                            </div>
                            <div class="form-control  ml-1"> Número de cuenta: {{this.user.no_cuenta}} </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-money-bill-wave-alt"></i> </span>
                            </div>
                            <div class="form-control  ml-1"> Saldo: Q. {{this.user.saldo_inicial}} </div>
                        </div>
                    </div>
                </div>
            </form>
        </article>
        <div class="mx-auto">
            <div class="row mx-5 mb-5">
                <a routerLink="/home"><button type="submit" class="btn btn-primary btn-block"> <i class="fa fa-home"></i> Inicio</button></a>
            </div>
        </div>
    </div>
</div>